<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tikiAttacks</key>
	<array>
		<string>Explosions</string>
		<string>Thunder, Lightning</string>
		<string>Shark attack, Lightning speed, Stealth</string>
	</array>
	<key>tikiLargeImages</key>
	<array>
		<string>explosions_large@2x.png</string>
		<string>thunder_large@2x.png</string>
		<string>shark_large@2x.png</string>
	</array>
	<key>tikiDefense</key>
	<array>
		<string>Disappearance, Speed</string>
		<string>Loud Noise, Air Barrier</string>
		<string>Loud Noise, Air Barrier</string>
	</array>
	<key>tikiCommands</key>
	<array>
		<array>
			<string>Explosion tiki strike with speed, explode and make things disappear. You send me I blow up anything if make you unhappy. My explosion make you feel better when unhappy maker gone. No more unhappy.</string>
			<string>I do bidding from (email name)You say sorry I am the Fire tiki. I hide and wait to thrown lava spear, if you no say sorry, my lava make you sorry. say sorry.To get the tiki to do your bidding... get the app.</string>
			<string>Lava tiki say@name gonna get lava showers. Say sorry or lava make you sorry. Say sorry. #gettiki</string>
		</array>
		<array>
			<string>Thunder tiki deliver thunder and lightning for you, if they no polite, me no like, me no like. they gone anyway.</string>
			<string>I do bidding from (email name) Don’t go outside today, I am Thunder tiki. I thrash you with boom and sky fire you, if you don’t change your ways you will see. Be polite.To get the tiki to do your bidding... get the app.</string>
			<string>Thunder tiki say@name get blasted with boom and sky fire. Don’t go outside, be polite or you see. #gettiki</string>
		</array>
		<array>
			<string>Shark tiki sneak up on and bite person for you, if me no like, me no give water of life. They don&apos;t deserve.</string>
			<string>I do bidding from (email name) Don’t go swimming, I am the Shark tiki. I sneak up on you and bite you, if you don’t change ways I no give you water of life. You don&apos;t deserve and you go bye bye. Be nice.To get the tiki to do your bidding... get the app</string>
			<string>Shark tiki say@name gonna get bit. Don’t go swimming, be nice or no give you water of life. You don&apos;t deserve. #gettiki</string>
		</array>
	</array>
	<key>tikiPowers</key>
	<array>
		<string>The ability to channel the energy of a volcano and create bursts of fire,lava, and smoke.</string>
		<string>Can use thunder and lightning to destroy, damage, intimidate, set firesand cause fear and uncertainty in his enemies.</string>
		<string>Controls all sharks on earth and as the keeper of the gourd of life, can give and take life at will.</string>
	</array>
	<key>tikiThumbs</key>
	<array>
		<string>explosions_thumb</string>
		<string>thunder_thumb</string>
		<string>shark_thumb</string>
	</array>
	<key>tikiNames</key>
	<array>
		<string>Explosion Tiki</string>
		<string>Thunder Tiki</string>
		<string>Shark Tiki</string>
	</array>
	<key>tikiStrengths</key>
	<array>
		<string>7</string>
		<string>8</string>
		<string>10</string>
	</array>
</dict>
</plist>
